/*VARIABLES/CUSTOM Properties*/
:root {
    --color-brand-accent-magenta: #d462ad;
    --color-brand-accent-orange: #fc8900;
    --color-brand-accent-magenta-hover: #ca3f9b;
    --color-brand-accent-turquoise: #00c6d7;
    --color-brand-accent-sand: #f5f0e6;
    --color-brand-core-blue: #00629b;
    --color-brand-core-navy: #182b49;
    --color-brand-neutral-stone: #b6b1a9;
    --corner-radius-brand: 8px;
    --color-brand-core-yellow: #ffcd00;
    --brand-border: solid 1px;
    --brand-heading3-font: 400 1.5rem/1.5 "Roboto";
}

/*LAYOUTS*/
.grid {
    display: grid;
    gap: 10px;

    &.two-by-two {
        grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    }

    &.three-by-one {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    &.three-by-two {
        grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    }

    &.four-by-one {
        grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    }
}

.main-stack>*+*:not(:nth-child(2)) {
    margin-block-start: 2rem;
}

.stack>*+* {
    margin-block-start: 1rem;
}

.flex-50-50 {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;

    &.flex-50-50--space-between {
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
    }

    section {
        flex-basis: calc(861px / 2);
    }
}

/*ANIMATIONS*/
@keyframes assetSlice {
    0% {
        opacity: 0;
        transform: translateY(0.5rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.search-animation {
    animation: assetSlice 0.8s ease-out;
}

/*A11y CLASSNAMES*/
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    white-space: no-wrap;
}

.layout-hidden {
    display: none;
}

/* BUTTONs*/
.btn {
    font-size: 0.9375em;
    text-transform: uppercase;
    padding: 0.8em 1.5em;
    min-width: 200px;
    margin-bottom: 1em;
    letter-spacing: 0.08em;
    font-weight: 700;
    border-radius: var(--corner-radius-brand);
    font-family: inherit;
    transition: all 0.3s;
    border: 0;
    /*LibGuides doesn't allow for text line breaks by default*/
    white-space: normal;
}

.btn--secondary {
    background-color: var(--color-brand-core-yellow);
    color: var(--color-brand-core-navy);

    &:hover {
        background-color: var(--color-brand-core-navy);
        color: #fff;
    }
}

.bttn--search {
    border: none;
    flex: 0 0 min(20%, 90px);
    padding: 1rem;
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 1.75rem;
    color: #fff;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: var(--color-brand-accent-magenta);

    &:hover,
    &:focus {
        background-color: var(--color-brand-accent-magenta-hover);
    }
}

/* CARDS */
li.card,
.card,
.tile {
    border-radius: var(--corner-radius-brand);
    overflow: clip;
    position: relative;
    border: 1px solid var(--color-brand-neutral-stone, #b6b1a9);
    transition: background-color 0.3s ease-in-out;

    & h3 {
        margin-block: 0;
    }

    img {
        display: inline-block;
        /* width: 100%;
         */
    }

    /* For usability/accessibility we're treating this an element of a card, not body */
    & .tile__link-target,
    .card__link-target {
        /*font: var(--brand-heading3-font);
        */
        padding-block: 10px;
        display: block;
        color: #fff;
        text-decoration: none;
    }

    & a.card__link-target::after,
    a.tile__link-target::after {
        bottom: 0;
        content: "";
        left: 0;
        min-height: 44px;
        min-width: 44px;
        position: absolute;
        right: 0;
        top: 0;
    }

    & .card__body,
    .tile__body {
        /* padding-inline: 10px;
         */
        padding-block-end: 0.5rem;
        text-wrap-style: pretty;
        height: fit-content;

        /*position: relative;
        */
        a {
            text-decoration: none;
        }
    }

    & .card__toolbar,
    .tile__toolbar {
        position: relative;
        padding-block: 0 1rem;
        padding-inline-start: 10px;
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem 1rem;

        &.toolbar--fill {
            background-color: var(--color-brand-core-navy);
            padding-block: 1rem;
        }

        .tag {
            color: #000;
        }
    }
}

.featured-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding-inline-start: 0;
}

.card {

    &:hover,
    &:has(a.card__link-target:focus),
    &:has(a.tile__link-target:focus) {
        background-color: var(--color-brand-accent-sand, #f5f0e6);
    }
}

.card.card--featured {

    /* this flex setting needs to be brough into the Content-type-listing page CSS. It's not global. */
    .featured-container & {
        flex: 0 0 calc(840px / 3);
    }

    & .card--featured__body {
        img {
            width: 100%;
            min-height: 285px;
            object-fit: cover;
        }

        color: #fff;
        background-color: var(--color-brand-core-navy);

        h3,
        p,
        span {
            margin-inline: 10px;
            color: #fff;
        }

        &.white-bg {
            background-color: initial;

            h3 {
                color: var(--color-brand-core-blue, #00629b);
            }

            p {
                color: initial;
            }
        }

        &.spaces {
            span {
                color: initial;
                font-size: 14px;
                font-weight: 600;
                padding-bottom: 0;
            }
        }

        a {
            color: var(--color-brand-core-blue, #00629b);
        }
    }
}

.card.card--full-width {
    margin-block-end: 1rem;

    & .card--full-width__body {
        position: relative;
        padding: 20px;
        color: var(--color-brand-core-navy);

        p,
        span {
            color: var(--color-brand-core-navy);
        }

        &.card--full-width__body.body--staff {
            padding: 0;
        }
    }

    & .card--full-width__body--img {
        position: relative;
        display: flex;
        padding: 0px;

        address {
            text-decoration: underline;
        }

        .is-open {
            text-transform: uppercase;

            span {
                font: inherit;
            }
        }

        .btn {
            display: block;
        }
    }
}

& .card__body__content {
    padding: 1rem 2rem;

    h3,
    h3>a {
        color: var(--color-brand-core-blue, #00629b);
    }

    &.staff {
        & svg {
            fill: var(--color-brand-core-blue, #00629b);
            width: 20px;
            min-width: 20px;
        }

        & p {
            margin: 0
        }

        & .name-info,
        .org-info,
        .org-info>div,
        .card__toolbar>div {
            display: flex;
            gap: .5rem;
            align-items: center;
            margin-block-end: .3rem;
        }

        & .org-info>div {
            margin-block-end: initial;
        }

        & .card__toolbar {
            padding-inline-start: 0;

            & #staff-contact,
            #staff-consult {
                text-decoration: underline;
            }
        }
    }
}

.tile {
    border-radius: 16px;
    padding: 1rem;
    background-color: var(--color-brand-core-blue);

    & span {
        font: var(--brand-heading3-font);
        padding-block: 10px;
        display: block;
    }

    & h3,
    a,
    p {
        color: #fff;
    }

    & svg {
        height: 32px;
        width: 32px;
        fill: #fff;
    }

    transition: background-color 0.3s ease-out;

    &:hover,
    &:has(a.tile__link-target:focus) {
        background-color: var(--color-brand-core-navy);
    }

    &.white-bg {
        background-color: #fff;
        border: 1px solid var(--color-brand-neutral-stone, #b6b1a9);

        & h3,
        a {
            color: var(--color-brand-core-blue, #00629b);
        }

        & p,
        span {
            color: #333
        }

        & svg {
            color: var(--color-brand-accent-magenta, #d462ad);
        }

        &:hover,
        &:has(a.tile__link-target:focus) {
            background-color: var(--color-brand-accent-sand, #f5f0e6);
        }
    }

    & .tile__body {
        height: fit-content;
        padding-block-end: 0;
    }

    & .tile__image {
        width: 60px;

        img {
            width: 100%;
        }
    }

    & .tile__cta {
        padding: 6px 6px 0 6px;
        background: #d8d8d8;
        width: fit-content;
        margin-inline-start: auto;
    }
}

/*Tags*/
.tag,
a.tag {
    border-radius: var(--corner-radius-brand) 0px;
    padding: 4px 8px;
    display: inline-block;

    &.magenta {
        border: 2px solid var(--color-brand-accent-magenta);

        &:hover,
        &:focus {
            background-color: var(--color-brand-accent-magenta)
        }
    }

    &.magenta--fill {
        border: 2px solid var(--color-brand-accent-magenta);
        background-color: var(--color-brand-accent-magenta);
    }

    &.orange {
        border: 2px solid var(--color-brand-accent-orange);

        &:hover,
        &:focus {
            background-color: var(--color-brand-accent-orange)
        }
    }

    &.orange--fill {
        border: 2px solid var(--color-brand-accent-orange);
        background-color: var(--color-brand-accent-orange);
    }

    &.turquoise {
        border: 2px solid var(--color-brand-accent-turquoise);

        &:hover,
        &:focus {
            background-color: var(--color-brand-accent-turquoise)
        }
    }

    &.turquoise--fill {
        border: 2px solid var(--color-brand-accent-turquoise);
        background-color: var(--color-brand-accent-turquoise);
    }

    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/*SEARCH BARS*/
.search-bar {
    display: flex;
    border: solid 1px #000;
    border-radius: 15px;
    overflow: clip;

    &.search-bar--select {
        container: select-layout / inline-size;
    }

    & input {
        border: none;
        flex: 1;
        padding-inline-start: 1rem;

        &::placeholder {
            color: #000 !important;
        }
    }
}

.select-container {
    display: flex;
    align-items: center;
    position: relative;
    border: none;
    border-radius: 0;
    background-color: var(--color-brand-core-blue);
    color: #fff;
    padding-inline-start: 1rem;
    flex: 0 1 min(20%, 150px);
    min-width: min(45%, 250px);
    background-image: url('data:image/svg+xml;utf8, <svg width="30" height="17" viewBox="0 0 30 17" fill="none" xmlns="http://www.w3.org/2000/svg" > <path d="M28.4971 1.45319L15.7236 14.7236L1.49979 1.87096" stroke="white" stroke-width="3.5" /> </svg>');
    background-repeat: no-repeat;
            background-position: right 1rem center;

            select {
            width: 100%;
            height: 100%;
            position: absolute;
            inset: 0;
            opacity: 0;
            color: #000;
        }

        #select-label {
            max-width: 18ch;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    /*CTA*/
    /*styling CTAs*/
    .cta {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        color: inherit;
        padding: 30px;
        container: cta-content / inline-size;

        &.one-orb-bg {
            background-image: url("https://cdn.ucsd.edu/cms/decorator-5/img/bg-grit-orbs-1.jpg");
            background-position-y: 90%;
            background-position-x: 55%;
            background-size: auto;
        }
    }

    .cta--standard {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px;
        background-image: url("https://library.ucsd.edu/_files/research-and-collections/images/Custom-CTA-Inset-Background-Sand-1.png");
    }

    .cta--standard__content {
        display: flex;
        padding: 30px;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        align-self: stretch;

        p {
            max-width: 70%;
        }
    }

    .cta--standard__button-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        column-gap: 1rem;
        min-width: 110%;
        margin-right: -10px;

        .btn-primary {
            display: flex;
            width: fit-content;
            min-width: 100px !important;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }
    }

    .cta--inset {
        display: flex;
    }

    .cta--inset__content {
        background-color: white;
        border-radius: 5px;
        padding: 30px;
        margin: 0;
        width: 66%;

        & .btn {
            margin-block-start: .5rem;
        }
    }

    .cta--inset__link {
        font-weight: bold;
    }

    @container cta-content (width <=635px) {
        .cta--standard__content, .cta--inset__content {
            width: 100%;
        }
    }

    /* The cta--inset needs to be adjusted to fit styling conventions */
    /* .cta--inset {
     display: flex;
     justify-content: end;
     .cta--inset__body {
         flex-basis: 55%;
         background-color: #fff;
         padding: 1em 2em;
         border-radius: var(--corner-radius-brand);
    }
     .btn {
         margin-block-start: 1rem;
    }
}
 */
    @media (width <=745px) {
        .cta .cta--inset__body {
            flex-basis: 100%;
        }
    }

    .cta--inset.inset--left {
        justify-content: start;
    }

    /*MODULES*/
    .module {
        padding: 2.5rem;

        & h2 {
            margin-block: 0 1rem;
        }

        & h3 {
            font-weight: 700;
        }

        & .grid {
            gap: 1rem;
        }

        &.blue-bg {
            background-color: var(--color-brand-core-blue, #00629b);

            h2 {
                color: #fff;
            }
        }
    }

    /*WIDGETS*/
    #libchat_070d032c4d798fce78451e64a2d0f0ea .lci_chat_load, #libchat_070d032c4d798fce78451e64a2d0f0ea iframe {
        height: 500px !important;
        border-radius: 14px;
    }

    #s-la-dataNotice a {
        font-weight: bold;
    }